body /*Esto es para que todo el fondo de la pagina cambie*/
{
    background-color: #FDF5E6;
}

.alineacionIzq
{
    text-align: left;
}

.contenedor
{
    
    border: 5px;
    height: auto;
    width: 1240px;
    border-color: black;
    /*border-style:inset;*/
    border-left: -50px;
    justify-content: left;
    display: flex;
    text-align: left;/*Esto esta alineando el texto*/
    margin: 10px ;
    padding: 10px;
    border-radius: 5%;
    background-color: papayawhip;
    /*Checar bien lo de centrar el div*/
}

.EntradasForo
{
    width: 250%;
    
    background-color: cadetblue;
    clear: both;
}

.miBoton:hover
{
    transition-duration: 0.5;
    background-color: gray;
    color: white;
    border-radius: 10px;
    
}

.miBoton{
    transition-duration: 0.5ms;
    color: black;
    background-color: 	#FDF5E6;
}
.BotonesBusqueda
{
    color: black;
    background-color: gray;
    border-color: black;
}